blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

main {
  width: 79%;
  display: inline-block;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

body {
  max-width: 960px;
}

@media screen and (max-width: 768px) {
  #external-links {
    display: block;
    width: 100%;
  }
  main::before {
    content: "TLDR? The goods are at the bottom.";
    background-color: orange;
  }
  #external-links li {
    padding: 10px 5px;
    display: inline-block;
    width: 30%;
  }
}


}
/*@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}*/
