#contact-info {
	font-size: 0.8em;
}

.job {
	background-color: #e9e5dc;
	border-radius: 15px;
	padding: 10px 8px 2px 8px;
	margin-top: 15px;
}

.job-descriptions {
	font-size: 0.8em;
}

/*Just for fun*/
.featured {
	font-weight: bolder;
	color: red;
}
/*Release 2, Question 3*/
section > h3 {
	font-size: 16px;
}

li:first-child {
	color: blue;
}


/* Release 2, Question 2*/
p::first-line {
	font-weight: bold;
}