<html>
<head>
  <title>MasterIt</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>MasterIt</h1>
  <h2>Malcolm Gladwell once wrote that it takes 10,000 hours to master a skill. MasterIt is here to help you keep track!<br><br>Enter in your progress below:</h2>
  <form action="/activity_log" method="POST">
    <input type="text" name="skill" placeholder="Skill">
    <input type="text" name="date" placeholder="Date">
    <input type="text" name="activity" placeholder="Activity">
    <input type="text" name="hours" placeholder="Time Spent (hours)">
    <button type="submit">Save</button>
  </form>
  <ul id="skills">
    <% @skills.each do |skill| %>
      <li><%= skill['name'] %></li>
    <% end %>
  </ul>
</body>
</html>